/* Credits:
 * productivity icon by Gregor Črešnar
 *
 */

/* for viewport */
body {
    /* TODO: background ?*/
    margin-left: auto;
    margin-right: auto;
    width: 96%;
}

.main {
    width: 100%;
}

/* for portrait */
img {
    float: left;
    width: 50%;
}

article.person {
/*shorthand for column-count column-width*/
    columns: 2 50em; 
    -moz-columns: 2 50em;
    column-gap: 2em;
    -moz-column-gap: 2em;
    column-rule: 2px dotted #999;
    -moz-column-rule: 2px dotted #999;
    float: left;
    width: 25%;
    word-wrap: break-word;
}


span.D {
    float: left;
    width: 25%;
    color: blue;
    text-shadow: 1px 1px black;
}

.D:before {
    content: "D";
}

.future {
    color: rgba(37,195,139,0.4) !important; /*color is set in D as well, so*/
    font-style: oblique; /*slants normal*/
}

.name {
    color: rgb(0,0,0);
}

.prod {
    color: rgba(190,55,190,1);
}
.prod:before {
    content: url(nprod.png) " ";
}/*TODO: tooltip na hover: http://www.menucool.com/tooltip/css-tooltip */

ul#icons {
    list-style: none;
}
ul li {
    margin: 10px;
}
li:hover { margin-top: -3px; }


