<html>
<head>
<title>Manager</title>
<link href="http://fonts.googleapis.com/css?family=Cookie|Open+Sans:400,700" rel="stylesheet" />
<link href="style.css" rel="stylesheet" />
<script type="text/javascript" src="angularjs/fusioncharts.js"></script>
<script type="text/javascript" src="angularjs/themes/fusioncharts.theme.fint.js"></script>
<script type="text/javascript" src="otherjs/script.js"></script>
<script type="text/javascript">
  FusionCharts.ready(function(){
    var revenueChart = new FusionCharts({
        "type": "column2d",
        "renderAt": "chartContainer",
        "width": "500",
        "height": "300",
        "dataFormat": "json",
        "dataSource":  {
          "chart": {
            "caption": "Monthly revenue for last year",
            "subCaption": "Harry's SuperMart",
            "xAxisName": "Month",
            "yAxisName": "Revenues (In USD)",
            "theme": "fint"
         },
         "data": [
            {
               "label": "Jan",
               "value": "420000"
            },
            {
               "label": "Feb",
               "value": "810000"
            },
            {
               "label": "Mar",
               "value": "720000"
            },
            {
               "label": "Apr",
               "value": "550000"
            },
            {
               "label": "May",
               "value": "910000"
            },
            {
               "label": "Jun",
               "value": "510000"
            },
            {
               "label": "Jul",
               "value": "680000"
            },
            {
               "label": "Aug",
               "value": "620000"
            },
            {
               "label": "Sep",
               "value": "610000"
            },
            {
               "label": "Oct",
               "value": "490000"
            },
            {
               "label": "Nov",
               "value": "900000"
            },
            {
               "label": "Dec",
               "value": "730000"
            }
          ]
      }

  });
revenueChart.render();
})
</script>
</head>
<body ng-app="instantSearch" ng-controller="InstantSearchController">
	<div class="bar">
		<input type="text" ng-model="searchString" placeholder="Enter your search terms" />
	</div>

<ul>
	<li ng-repeat="i in items | searchFor:searchString">
		<a href="{{i.url}}"><img ng-src="{{i.image}}" /></a>
		<p>{{i.title}}</p>
	</li>
</ul>

  <div id="chartContainer">FusionCharts XT will load here!</div>
</body>
</html>
