	<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>iPicture first demo</title>
		<link rel="stylesheet" type="text/css" media="screen" href="css/iPicture.css"/>
		<link rel="stylesheet" type="text/css" media="screen" href="css/style.css"/>
		<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
		<!-- <script type="text/javascript" src="js/zepto.min-1.0.js"></script> -->
		<script type="text/javascript" src="js/jquery.ipicture.js"></script>
		<!-- <script type="text/javascript" src="js/zepto.ipicture.min.js"></script> -->
	</head>
	<div id="iPicture" data-interaction="hover">
	  <div class="ip_slide">
	    <img class="ip_tooltipImg" src="images/DeskPro.jpg">
	    <div class="ip_tooltip ip_img32" style="top: 116px; left: 121px;" data-button="beadgold" data-tooltipbg="bgwhite" data-round="roundBgW" data-animationtype="ltr-slide">
	      <p>
	      </p>
	  </div>
	  </div>
</div>
<script>
  $( "#iPicture" ).iPicture();
</script>
	</body>
	</html>
