<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>JA App</title>
	<link rel="stylesheet" href="FullDellStyle.css">
</head>
<body>
	<header>
		<nav class="dropdown">
			<button onclick="dropDownFunction()" class="dropbtn">Menu</button>
			<nav id="dropDownElement" class="dropdown-content">
				<ul>
					<li><a href="" title="Ja-materials">JA Materials</a></li>
					<li><a href="" title="Slack">Slack</a></li>
					<li><a href="" title="Assestments">Assestments</a></li>
				</ul>
			</nav>
		</nav>
		<span class="logo">
			<h1>LOGO</h1>
		</span>
		<span class="SearchBar">Search Bar</span>

	</header>
	<section>
		<article class="person" id="Adam_Lasota">
			<p class="name">Adam Lasota</p>
			<img src="photo.jpg" alt="FacePhoto" class="face-photo">
			<nav>
				<ul>
					<li><a href="" title="Personal User System">UPSA</a></li>
					<li><a href="" title="Vacation Tracking System">VTS</a></li>
					<li><a href="" title="User Statistics">STAS</a></li>
					<li><a href="" title="HERO Portal">BADGES</a></li>
				</ul>
			</nav>
		</article>
		<article class="person" id="Marcin_Bulawa">
			<p class="name">Marcin Buława</p>
			<img src="photo.jpg" alt="FacePhoto" class="face-photo">
			<nav>
				<ul>
					<li><a href="" title="Personal User System">UPSA</a></li>
					<li><a href="" title="Vacation Tracking System">VTS</a></li>
					<li><a href="" title="User Statistics">STAS</a></li>
					<li><a href="" title="HERO Portal">BADGES</a></li>
				</ul>
			</nav>
		</article>
		<article class="person" id="Bartek_Klys">
			<p class="name">Bartek Kłys</p>
			<img src="photo.jpg" alt="FacePhoto" class="face-photo">
			<nav>
				<ul>
					<li><a href="" title="Personal User System">UPSA</a></li>
					<li><a href="" title="Vacation Tracking System">VTS</a></li>
					<li><a href="" title="User Statistics">STAS</a></li>
					<li><a href="" title="HERO Portal">BADGES</a></li>
				</ul>
			</nav>
		</article>
		<article class="person" id="Bartek_Lazarski">
			<p class="name">Bartek Łazarski</p>
			<img src="photo.jpg" alt="FacePhoto" class="face-photo">
			<nav>
				<ul>
					<li><a href="" title="Personal User System">UPSA</a></li>
					<li><a href="" title="Vacation Tracking System">VTS</a></li>
					<li><a href="" title="User Statistics">STAS</a></li>
					<li><a href="" title="HERO Portal">BADGES</a></li>
				</ul>
			</nav>
		</article>
		<article class="person" id="Damian_Liwak">
			<p class="name">Damian Liwak</p>
			<img src="photo.jpg" alt="FacePhoto" class="face-photo">
			<nav>
				<ul>
					<li><a href="" title="Personal User System">UPSA</a></li>
					<li><a href="" title="Vacation Tracking System">VTS</a></li>
					<li><a href="" title="User Statistics">STAS</a></li>
					<li><a href="" title="HERO Portal">BADGES</a></li>
				</ul>
			</nav>
		</article>
		<article class="person" id="Daniel_Zaucha">
			<p class="name">Daniel Zaucha</p>
			<img src="photo.jpg" alt="FacePhoto" class="face-photo">
			<nav>
				<ul>
					<li><a href="" title="Personal User System">UPSA</a></li>
					<li><a href="" title="Vacation Tracking System">VTS</a></li>
					<li><a href="" title="User Statistics">STAS</a></li>
					<li><a href="" title="HERO Portal">BADGES</a></li>
				</ul>
			</nav>
		</article>
		<article class="person" id="Ehsan_Golesorkhi">
			<p class="name">Ehsan Golesorkhi</p>
			<img src="photo.jpg" alt="FacePhoto" class="face-photo">
			<nav>
				<ul>
					<li><a href="" title="Personal User System">UPSA</a></li>
					<li><a href="" title="Vacation Tracking System">VTS</a></li>
					<li><a href="" title="User Statistics">STAS</a></li>
					<li><a href="" title="HERO Portal">BADGES</a></li>
				</ul>
			</nav>
		</article>
		<article class="person" id="Grzegorz_Sledz">
			<p class="name">Grzegorz Śledź</p>
			<img src="photo.jpg" alt="FacePhoto" class="face-photo">
			<nav>
				<ul>
					<li><a href="" title="Personal User System">UPSA</a></li>
					<li><a href="" title="Vacation Tracking System">VTS</a></li>
					<li><a href="" title="User Statistics">STAS</a></li>
					<li><a href="" title="HERO Portal">BADGES</a></li>
				</ul>
			</nav>
		</article>
		<article class="person" id="Jakub_Czyz">
			<p class="name">Jakub Czyż</p>
			<img src="photo.jpg" alt="FacePhoto" class="face-photo">
			<nav>
				<ul>
					<li><a href="" title="Personal User System">UPSA</a></li>
					<li><a href="" title="Vacation Tracking System">VTS</a></li>
					<li><a href="" title="User Statistics">STAS</a></li>
					<li><a href="" title="HERO Portal">BADGES</a></li>
				</ul>
			</nav>
		</article>
		<article class="person" id="Kamil_Poprawa">
			<p class="name">Kamil Poprawa</p>
			<img src="photo.jpg" alt="FacePhoto" class="face-photo">
			<nav>
				<ul>
					<li><a href="" title="Personal User System">UPSA</a></li>
					<li><a href="" title="Vacation Tracking System">VTS</a></li>
					<li><a href="" title="User Statistics">STAS</a></li>
					<li><a href="" title="HERO Portal">BADGES</a></li>
				</ul>
			</nav>
		</article>
		<article class="person" id="Karol_Skupien">
			<p class="name">Karol Skupień</p>
			<img src="photo.jpg" alt="FacePhoto" class="face-photo">
			<nav>
				<ul>
					<li><a href="" title="Personal User System">UPSA</a></li>
					<li><a href="" title="Vacation Tracking System">VTS</a></li>
					<li><a href="" title="User Statistics">STAS</a></li>
					<li><a href="" title="HERO Portal">BADGES</a></li>
				</ul>
			</nav>
		</article>
		<article class="person" id="Lukasz_Czubernat">
			<p class="name">Łukasz Czubernat</p>
			<img src="photo.jpg" alt="FacePhoto" class="face-photo">
			<nav>
				<ul>
					<li><a href="" title="Personal User System">UPSA</a></li>
					<li><a href="" title="Vacation Tracking System">VTS</a></li>
					<li><a href="" title="User Statistics">STAS</a></li>
					<li><a href="" title="HERO Portal">BADGES</a></li>
				</ul>
			</nav>
		</article>
		<article class="person" id="Lukasz_Jedrzejewski">
			<p class="name">Łukasz Jędrzejewski</p>
			<img src="photo.jpg" alt="FacePhoto" class="face-photo">
			<nav>
				<ul>
					<li><a href="" title="Personal User System">UPSA</a></li>
					<li><a href="" title="Vacation Tracking System">VTS</a></li>
					<li><a href="" title="User Statistics">STAS</a></li>
					<li><a href="" title="HERO Portal">BADGES</a></li>
				</ul>
			</nav>
		</article>
		<article class="person" id="Maciej_Kocur">
			<p class="name">Maciej Kocur</p>
			<img src="photo.jpg" alt="FacePhoto" class="face-photo">
			<nav>
				<ul>
					<li><a href="" title="Personal User System">UPSA</a></li>
					<li><a href="" title="Vacation Tracking System">VTS</a></li>
					<li><a href="" title="User Statistics">STAS</a></li>
					<li><a href="" title="HERO Portal">BADGES</a></li>
				</ul>
			</nav>
		</article>
		<article class="person" id="Tomasz_Dudzik">
			<p class="name">Tomasz Dudzik</p>
			<img src="photo.jpg" alt="FacePhoto" class="face-photo">
			<nav>
				<ul>
					<li><a href="" title="Personal User System">UPSA</a></li>
					<li><a href="" title="Vacation Tracking System">VTS</a></li>
					<li><a href="" title="User Statistics">STAS</a></li>
					<li><a href="" title="HERO Portal">BADGES</a></li>
				</ul>
			</nav>
		</article>
		<article class="person" id="Olga_Ermolaeva">
			<p class="name">Olga Ermolaeva</p>
			<img src="photo.jpg" alt="FacePhoto" class="face-photo">
			<nav>
				<ul>
					<li><a href="" title="Personal User System">UPSA</a></li>
					<li><a href="" title="Vacation Tracking System">VTS</a></li>
					<li><a href="" title="User Statistics">STAS</a></li>
					<li><a href="" title="HERO Portal">BADGES</a></li>
				</ul>
			</nav>
		</article>	
	</section>
	<footer>
		<p></p>
	</footer>
	<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function dropDownFunction() {
	document.getElementById("dropDownElement").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
	if (!event.target.matches('.dropbtn')) {

		var dropdowns = document.getElementsByClassName("dropdown-content");
		var i;
		for (i = 0; i < dropdowns.length; i++) {
			var openDropdown = dropdowns[i];
			if (openDropdown.classList.contains('show')) {
				openDropdown.classList.remove('show');
			}
		}
	}
};
</script>
</body>
</html>