<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" media="screen" href="css/iPicture.css"/>
	<link rel="stylesheet" type="text/css" media="screen" href="css/style.css"/>
	<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="js/jquery.ipicture.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta name="viewport" content="width=device-width" />
	<meta charset="utf-8">
	<title>JA Overview</title>
</head>
<body>
	<div class="col-12 context">
		<div class="col-3 items "  >
			<div class="col-12 backgroundphoto ip_tooltipImg"   >
				<div id="iPicture" data-interaction="hover">
					<div class="ip_slide">
						<img class="ip_tooltipImg imgresize" src="photo.jpg">
						<div class="ip_tooltip ip_img32" style="top: 120%; left: 42%;" data-button="beadgold" data-tooltipbg="bgwhite" data-round="roundBgW" data-animationtype="ltr-slide">
							<p>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-3 items "  >
			<div class="col-12 backgroundphoto ip_tooltipImg"   >
				<div id="iPicture" data-interaction="hover">
					<div class="ip_slide">
						<img class="ip_tooltipImg imgresize" src="photo.jpg">
						<div class="ip_tooltip ip_img32" style="top: 120%; left: 42%;" data-button="beadgold" data-tooltipbg="bgwhite" data-round="roundBgW" data-animationtype="ltr-slide">
							<p>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-3 items "  >
			<div class="col-12 backgroundphoto ip_tooltipImg"   >
				<div id="iPicture" data-interaction="hover">
					<div class="ip_slide">
						<img class="ip_tooltipImg imgresize" src="photo.jpg">
						<div class="ip_tooltip ip_img32" style="top: 120%; left: 42%;" data-button="beadgold" data-tooltipbg="bgwhite" data-round="roundBgW" data-animationtype="ltr-slide">
							<p>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-3 items "  >
			<div class="col-12 backgroundphoto ip_tooltipImg"   >
				<div id="iPicture" data-interaction="hover">
					<div class="ip_slide">
						<img class="ip_tooltipImg imgresize" src="photo.jpg">
						<div class="ip_tooltip ip_img32" style="top: 120%; left: 42%;" data-button="beadgold" data-tooltipbg="bgwhite" data-round="roundBgW" data-animationtype="ltr-slide">
							<p>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-3 items "  >
			<div class="col-12 backgroundphoto ip_tooltipImg"   >
				<div id="iPicture" data-interaction="hover">
					<div class="ip_slide">
						<img class="ip_tooltipImg imgresize" src="photo.jpg">
						<div class="ip_tooltip ip_img32" style="top: 120%; left: 42%;" data-button="beadgold" data-tooltipbg="bgwhite" data-round="roundBgW" data-animationtype="ltr-slide">
							<p>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-3 items "  >
			<div class="col-12 backgroundphoto ip_tooltipImg"   >
				<div id="iPicture" data-interaction="hover">
					<div class="ip_slide">
						<img class="ip_tooltipImg imgresize" src="photo.jpg">
						<div class="ip_tooltip ip_img32" style="top: 120%; left: 42%;" data-button="beadgold" data-tooltipbg="bgwhite" data-round="roundBgW" data-animationtype="ltr-slide">
							<p>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-3 items "  >
			<div class="col-12 backgroundphoto ip_tooltipImg"   >
				<div id="iPicture" data-interaction="hover">
					<div class="ip_slide">
						<img class="ip_tooltipImg imgresize" src="photo.jpg">
						<div class="ip_tooltip ip_img32" style="top: 120%; left: 42%;" data-button="beadgold" data-tooltipbg="bgwhite" data-round="roundBgW" data-animationtype="ltr-slide">
							<p>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-3 items "  >
			<div class="col-12 backgroundphoto ip_tooltipImg"   >
				<div id="iPicture" data-interaction="hover">
					<div class="ip_slide">
						<img class="ip_tooltipImg imgresize" src="photo.jpg">
						<div class="ip_tooltip ip_img32" style="top: 120%; left: 42%;" data-button="beadgold" data-tooltipbg="bgwhite" data-round="roundBgW" data-animationtype="ltr-slide">
							<p>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-3 items "  >
			<div class="col-12 backgroundphoto ip_tooltipImg"   >
				<div id="iPicture" data-interaction="hover">
					<div class="ip_slide">
						<img class="ip_tooltipImg imgresize" src="photo.jpg">
						<div class="ip_tooltip ip_img32" style="top: 120%; left: 42%;" data-button="beadgold" data-tooltipbg="bgwhite" data-round="roundBgW" data-animationtype="ltr-slide">
							<p>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-3 items "  >
			<div class="col-12 backgroundphoto ip_tooltipImg"   >
				<div id="iPicture" data-interaction="hover">
					<div class="ip_slide">
						<img class="ip_tooltipImg imgresize" src="photo.jpg">
						<div class="ip_tooltip ip_img32" style="top: 120%; left: 42%;" data-button="beadgold" data-tooltipbg="bgwhite" data-round="roundBgW" data-animationtype="ltr-slide">
							<p>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-3 items "  >
			<div class="col-12 backgroundphoto ip_tooltipImg"   >
				<div id="iPicture" data-interaction="hover">
					<div class="ip_slide">
						<img class="ip_tooltipImg imgresize" src="photo.jpg">
						<div class="ip_tooltip ip_img32" style="top: 120%; left: 42%;" data-button="beadgold" data-tooltipbg="bgwhite" data-round="roundBgW" data-animationtype="ltr-slide">
							<p>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-3 items "  >
			<div class="col-12 backgroundphoto ip_tooltipImg"   >
				<div id="iPicture" data-interaction="hover">
					<div class="ip_slide">
						<img class="ip_tooltipImg imgresize" src="photo.jpg">
						<div class="ip_tooltip ip_img32" style="top: 120%; left: 42%;" data-button="beadgold" data-tooltipbg="bgwhite" data-round="roundBgW" data-animationtype="ltr-slide">
							<p>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-3 items "  >
			<div class="col-12 backgroundphoto ip_tooltipImg"   >
				<div id="iPicture" data-interaction="hover">
					<div class="ip_slide">
						<img class="ip_tooltipImg imgresize" src="photo.jpg">
						<div class="ip_tooltip ip_img32" style="top: 120%; left: 42%;" data-button="beadgold" data-tooltipbg="bgwhite" data-round="roundBgW" data-animationtype="ltr-slide">
							<p>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-3 items "  >
			<div class="col-12 backgroundphoto ip_tooltipImg"   >
				<div id="iPicture" data-interaction="hover">
					<div class="ip_slide">
						<img class="ip_tooltipImg imgresize" src="photo.jpg">
						<div class="ip_tooltip ip_img32" style="top: 120%; left: 42%;" data-button="beadgold" data-tooltipbg="bgwhite" data-round="roundBgW" data-animationtype="ltr-slide">
							<p>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-3 items "  >
			<div class="col-12 backgroundphoto ip_tooltipImg"   >
				<div id="iPicture" data-interaction="hover">
					<div class="ip_slide">
						<img class="ip_tooltipImg imgresize" src="photo.jpg">
						<div class="ip_tooltip ip_img32" style="top: 120%; left: 42%;" data-button="beadgold" data-tooltipbg="bgwhite" data-round="roundBgW" data-animationtype="ltr-slide">
							<p>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script>
			$( "#iPicture" ).iPicture();
		</script>
	</div>
</body>
</html>
